/*************************************************************
 *                                                           *
 * zLevel.css CSS rules to create materials.                 *
 * copyright by Jovan Gerodetti                              *
 *                                                           *
 *************************************************************/

.material{
    transition: box-shadow ease-in-out .3s;
    background-color: #fafafa;
}

.material.l1{
    box-shadow: 0 0 .2rem rgba(0,0,0,0.6);
}

.material.l2{
    box-shadow: -0.2rem 0.2rem .4rem rgba(0,0,0,0.6);
}
